<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>500 ERROR</title>
  </head>
  <body>
    <div class="container">
      <h2>エラー</h2>
        <p><%= data%></p>
    </div>
  </body>
</html>