<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title></title>
        <!-- <link rel="stylesheet" href="/public/bootstrap/css/bootstrap.min.css" /> -->
    </head>
    <body>
        <div class="container">
            <h1>Hello World</h1>
            <p>login</p>
            <div class="section">
                <p class="lead">
                    create story
                </p>
            </div>
            <div class="divider">
                <a href="/auth/google">google login
                </a>
            </div>

        </div>
    </body>
</html>