<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title></title>
        <!-- <link rel="stylesheet" href="/public/bootstrap/css/bootstrap.min.css" /> -->
    </head>
    <body>
        <div>user______</div>
        <div class="container">
            <h1>Hello World</h1>
            <% if(data!= null){%>
                <p><%=data%></p>
            <%}else{%>
                <p>no data</p>
            <%}%>
        </div>
    </body>
</html>